body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: darkgrey;
}

.home-flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 220px;
  border-bottom: 1px solid black;
}

.hire-container{
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid black;
}

.head-title-flex {
  display: flex;
  justify-content: center;
}

.navbar-flex {
  background-color: deeppink;
  display: flex;
  font-size: 22px;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}

.enter-blog {
  display: flex;
  justify-content: flex-end;
}

.para-flex {
  display: flex;
  justify-content: center;
}

.cute-pic {
  max-height: 175px;
}

.blog-header {
  text-align: center;
}
