body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: darkgrey;
}

.home-flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 220px;
}

.head-title-flex {
  display: flex;
  justify-content: center;
}

.main-nav {
  background-color: aquamarine;
}

.navbar-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}

.active-nav-btn-flex {
  display: flex;
  justify-content: space-bet;
  font-size: 22px;
  background-color: hotpink;
}

.my-pic {
  max-height: 120px;
}

.js-me-flex {
  display: flex;
  justify-content: center;
}

.para-flex {
  display: flex;
  justify-content: center;
}

.post-blog-flex {
  display: flex;
  align-items: flex-start;;
}

.cute-pic {
  display: flex;
  justify-content: center;
  max-height: 175px;
}
