body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /*background-image: url("https://previews.123rf.com/images/ssilver/ssilver1502/ssilver150200028/36969448-Cluttered-office-desk-background-Stock-Photo.jpg");*/
  background-color: darkgrey;
}

.home-flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 220px;
  border-bottom: 1px solid black;
}

.big-sky-code {
  max-height: 45px;
}

.react-pic {
  max-height: 50px;
}

.javascript-pic{
  max-height: 45px;
}

.mt-state {
  max-height: 65px;
}

.htmlcss-pic{
  max-height: 55px;
}

.intro-to-me {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hire-container{
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid black;
}

.skillsandexp-container {
  display: flex;
  justify-content: space-around;
}

.head-title-flex {
  display: flex;
  justify-content: center;
}

.navbar-flex {
  background-color: white;
  display: flex;
  opacity: 0.6;
  font-size: 20px;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}

.enter-blog {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-items: flex-end;
}

.para-flex {
  display: flex;
  justify-content: center;
}

.cute-pic {
  max-height: 140px;
}

.blog-header {
  text-align: center;
}
