body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /*background-image: url("https://previews.123rf.com/images/ssilver/ssilver1502/ssilver150200028/36969448-Cluttered-office-desk-background-Stock-Photo.jpg");*/
  background-color: darkgrey;
}

.navbar-flex {
  background-color: white;
  display: flex;
  opacity: 0.6;
  font-size: 20px;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}

.home-flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 220px;
  border-bottom: 1px solid black;
}

.email-icon {
  max-height: 45px;
}

.phone-icon {
  max-height: 46px;
}

.big-sky-code {
  max-height: 45px;
}

.react-pic {
  max-height: 50px;
}

.javascript-pic{
  max-height: 45px;
}

.mt-state {
  max-height: 65px;
}

.htmlcss-pic{
  max-height: 55px;
}

.intro-to-me {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hire-container{
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid black;
}

.av-for-hire {
  display: flex;
  align-items: center;
}

.cute-pic {
  max-height: 140px;
}

.skillsandexp-container {
  display: flex;
  justify-content: space-around;
}

.site-wrap {
  max-width: 910px;
  margin: 100px auto;
  background: hotpink;
  padding:40px;
  text-align: justify;
}

.my-pic {
  float: left;
}

.blog-post-style {
  border-style: double;
  border-color: deeppink;
}

.all-of-posts {
  max-width: 425px;
}

.enter-blog {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-items: flex-end;
}

.blog-header {
  text-align: center;
}

.head-title-flex {
  display: flex;
  justify-content: center;
}
