body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("https://previews.123rf.com/images/ssilver/ssilver1502/ssilver150200028/36969448-Cluttered-office-desk-background-Stock-Photo.jpg");
}

.home-flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 220px;
  border-bottom: 1px solid black;
}

.hire-container{
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid black;
}

.skillsandexp-container {
  display: flex;
  justify-content: space-around;
}

.head-title-flex {
  display: flex;
  justify-content: center;
}

.navbar-flex {
  background-color: white;
  display: flex;
  opacity: 0.6;
  font-size: 22px;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}

.enter-blog {
  display: flex;
  justify-content: flex-end;
}

.para-flex {
  display: flex;
  justify-content: center;
}

.cute-pic {
  max-height: 175px;
}

.blog-header {
  text-align: center;
}
